.App {
  text-align: center;
  width: 810px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.Tile {
  height: 50px;
  width: 50px;
  margin: 5px;
}

.blue {
  background-color: #5762d5;
  color: white;
}

.black {
  background-color: #000f08;
  color: white;
}

.red {
  background-color: #540804;
  color: white;
}

.orange {
  background-color: #f34213;
  color: white;
}

.joker {
  background-color: #ffffb3;
  color: black;
}
